# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Data
*.parquet
*.csv
!docs/**/*.csv
/docs
/prompts
/sketch